#front{
    background-color: cyan;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 70px;
    margin: auto;
}
a{
    text-decoration: none;
}
footer{
    background-color: rgb(217, 139, 97);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#marketing{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
body{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
#team{
    color: chartreuse;
    text-align: center;
}
#teamname{
    text-align: center;
    color: cornflowerblue;
    font-weight: 100;
}
#teampicture{
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
}
table{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: red;
    text-align: center;
}
#new-mission{
    font-weight: bolder;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}