body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #8646ca;
}

header {
    background-color: #001850;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.logo img {
    max-width: 120px;
    margin-left: 40px;
}

/* search button */
form.skewed-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    padding-right: 20px;
    padding-left: 30px;
    width: 400px;
}

form.skewed-search input[type="text"] {
    border: none;
    padding: 10px 20px;
    width: 400px;
    height: 20px;
    background-color: #f4f4f4;
}

form.skewed-search input[type="text"]:focus {
    border: 2px solid #e74c3c; /* Change this color to your desired color and adjust the border style */
    outline: none; /* Remove the default outline */
}

form.skewed-search button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    height: 42px;
}

form.skewed-search button:hover {
    background-color: #180b3b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    height: 42px;
}

/* Clearing floats */
/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}

/* Main level */
.menu {		
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.menu > li {
  background: #001850;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.menu li:hover {
  background: #e74c3c;
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;	
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

