#list{
    background-color: cyan;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
}
a{
    text-decoration: none;
}
body{
    background-color: black;
}
body h1{
    color: brown;
    text-align: center;
    font-size: 50px;
}
