body{
    background-color: black;
}
p{
    background-color: aquamarine;
    color: blueviolet;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.socialmedialogo{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
table{
    transform: translate(13%,3%);
    height: 500px;
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.texttitle{
    font-size: 20px;
}
body table tr td a:hover
{
    color: #ffc107;
}
#home{
    background-color: #ffc107;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}