body{
    background-color: black;
}
body h1{
    color: brown;
    text-align: center;
    font-size: 50px;
}
ul{
    font-weight: bolder;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.landscapeimg{
    max-width: 500px;
    max-height: 250px;
}
.normalimg{
    max-width: 200px;
    max-height: 300px;
}
